@model ListViewModel<Loony.Data.Entities.Product.Product>

@{
    var sortDir = Model.Page.SortDirection;
    var sortOrder = Model.Page.Order;
    var filter = Model.Page.Filter;
    var search = Model.Page.Search;
}

<table class="table m-table m-table--head-separator-primary table-hover dataTable">
    <thead>
        <tr>
            <table-head width="20%" sortby="ProductName" sortorder="@sortOrder" sortdir="@sortDir" filter="@filter" search="@search">@await Component.StaticText("ProductName")</table-head>
            <table-head width="20%" sortby="ProductCode" sortorder="@sortOrder" sortdir="@sortDir" filter="@filter" search="@search">@await Component.StaticText("ProductCode")</table-head>
            <table-head width="10%" sortby="Year" sortorder="@sortOrder" sortdir="@sortDir" filter="@filter" search="@search">@await Component.StaticText("Year")</table-head>
            <table-head width="10%" sortby="Season" sortorder="@sortOrder" sortdir="@sortDir" filter="@filter" search="@search">@await Component.StaticText("Season")</table-head>
            <table-head width="20%" sortby="ProductGroup" sortorder="@sortOrder" sortdir="@sortDir" filter="@filter" search="@search">@await Component.StaticText("ProductGroup")</table-head>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Data)
        {
        <tr>
            <td class="align-middle">@product.ProductName</td>
            <td class="align-middle">@product.ProductCode</td>
            <td class="align-middle">@product.Year</td>
            @*<td class="align-middle">@((product.Line == 1) ? "Line 1 (3-6)" : (product.Line == 2) ? "Line 2 (7-10)" : "" )</td>*@
            <td class="align-middle">@product.Season</td>
            <td class="align-middle">@product.ProductGroup.GroupName</td>
            <td class="text-right align-middle">
                @if (Convert.ToBoolean(Context.Items["Update"]))
                {
                    <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-secondary btn-sm"><i class="la la-edit"></i> @await (Component.StaticText("Edit"))</a>
                }
            </td>
        </tr>
        }
    </tbody>
    <tfoot>

    </tfoot>
</table>

<div page-data="@Model.Page"></div>

