@model IEnumerable<Loony.Data.Entities.System.Menu>

@{
    var controller = ViewContext.RouteData.Values["Controller"].ToString();
    var action = ViewContext.RouteData.Values["Action"].ToString();
}

    <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">

        @foreach (var item in Model.Where(x => x.RelatedId == 0).OrderBy(x => x.Order))
        {
            string menuActive = String.Empty;
            bool hasSubMenu = false;

            if (controller == item.Controller) menuActive = "m-menu__item--active";
            if (Model.Any(x => x.RelatedId == item.Id)) hasSubMenu = true;

            if (hasSubMenu)
            {
                var linkId = Model.FirstOrDefault(x => x.Controller == controller);

                if (linkId != null && item.Id == linkId.LinkId) menuActive = "m-menu__item--active";

                <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel @menuActive" m-menu-submenu-toggle="click" aria-haspopup="true">
                    <a href="#" class="m-menu__link m-menu__toggle">
                        <span class="m-menu__item-here"></span>
                        <span class="m-menu__link-text">
                            @await Component.StaticText(item.Name)
                        </span>
                        <i class="m-menu__hor-arrow la la-angle-down"></i>
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                        <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                        <ul class="m-menu__subnav">
                            @foreach (var subitem in Model.Where(x => x.RelatedId == item.Id).OrderBy(x => x.Order))
                            {
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a asp-action="@subitem.Action" asp-controller="@subitem.Controller" class="m-menu__link">
                                        <i class="m-menu__link-icon @subitem.Icon"></i>
                                        <span class="m-menu__link-text">
                                            @await Component.StaticText(subitem.Name)
                                        </span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </li>
            }
            else
            {
                <li class="m-menu__item @menuActive" aria-haspopup="true">
                    <a asp-action="@item.Action" asp-controller="@item.Controller" class="m-menu__link">
                        <span class="m-menu__item-here"></span>
                        <span class="m-menu__link-text">
                            @await Component.StaticText(item.Name)
                        </span>
                    </a>
                </li>
            }

        }

        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" m-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
            <a href="#" class="m-menu__link m-menu__toggle">
                <span class="m-menu__item-here"></span>
                <span class="m-menu__link-text">
                    @await Component.StaticText("Reports")
                </span>
                <i class="m-menu__hor-arrow la la-angle-down"></i>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu  m-menu__submenu--fixed m-menu__submenu--left" style="width:600px">
                <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                <div class="m-menu__subnav">
                    <ul class="m-menu__content">
                        <li class="m-menu__item">
                            <h3 class="m-menu__heading m-menu__toggle">
                                <span class="m-menu__link-text">
                                    Finance Reports
                                </span>
                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                            </h3>
                            <ul class="m-menu__inner">
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-map"></i>
                                        <span class="m-menu__link-text">
                                            Annual Reports
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-user"></i>
                                        <span class="m-menu__link-text">
                                            HR Reports
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-clipboard"></i>
                                        <span class="m-menu__link-text">
                                            IPO Reports
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-graphic-1"></i>
                                        <span class="m-menu__link-text">
                                            Finance Margins
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-graphic-2"></i>
                                        <span class="m-menu__link-text">
                                            Revenue Reports
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="m-menu__item">
                            <h3 class="m-menu__heading m-menu__toggle">
                                <span class="m-menu__link-text">
                                    Project Reports
                                </span>
                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                            </h3>
                            <ul class="m-menu__inner">
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">
                                            Coca Cola CRM
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">
                                            Delta Airlines Booking Site
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">
                                            Malibu Accounting
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">
                                            Vineseed Website Rewamp
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">
                                            Zircon Mobile App
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">
                                            Mercury CMS
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="m-menu__item  m-menu__item--submenu" m-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
            <a href="#" class="m-menu__link m-menu__toggle">
                <span class="m-menu__item-here"></span>
                <span class="m-menu__link-text">
                    @await Component.StaticText("Orders")
                </span>
                <i class="m-menu__hor-arrow la la-angle-down"></i>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu  m-menu__submenu--fixed-xl m-menu__submenu--center">
                <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                <div class="m-menu__subnav">
                    <ul class="m-menu__content">
                        <li class="m-menu__item">
                            <h3 class="m-menu__heading m-menu__toggle">
                                <span class="m-menu__link-text">
                                    Finance Reports
                                </span>
                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                            </h3>
                            <ul class="m-menu__inner">
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-map"></i>
                                        <span class="m-menu__link-text">
                                            Annual Reports
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-user"></i>
                                        <span class="m-menu__link-text">
                                            HR Reports
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-clipboard"></i>
                                        <span class="m-menu__link-text">
                                            IPO Reports
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-graphic-1"></i>
                                        <span class="m-menu__link-text">
                                            Finance Margins
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-graphic-2"></i>
                                        <span class="m-menu__link-text">
                                            Revenue Reports
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="m-menu__item">
                            <h3 class="m-menu__heading m-menu__toggle">
                                <span class="m-menu__link-text">
                                    Project Reports
                                </span>
                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                            </h3>
                            <ul class="m-menu__inner">
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">
                                            Coca Cola CRM
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">
                                            Delta Airlines Booking Site
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">
                                            Malibu Accounting
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">
                                            Vineseed Website Rewamp
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">
                                            Zircon Mobile App
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">
                                            Mercury CMS
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="m-menu__item">
                            <h3 class="m-menu__heading m-menu__toggle">
                                <span class="m-menu__link-text">
                                    HR Reports
                                </span>
                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                            </h3>
                            <ul class="m-menu__inner">
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">
                                            Staff Directory
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">
                                            Client Directory
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">
                                            Salary Reports
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">
                                            Staff Payslips
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">
                                            Corporate Expenses
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">
                                            Project Expenses
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="m-menu__item">
                            <h3 class="m-menu__heading m-menu__toggle">
                                <span class="m-menu__link-text">
                                    Reporting Apps
                                </span>
                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                            </h3>
                            <ul class="m-menu__inner">
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <span class="m-menu__link-text">
                                            Report Adjusments
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <span class="m-menu__link-text">
                                            Sources & Mediums
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <span class="m-menu__link-text">
                                            Reporting Settings
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <span class="m-menu__link-text">
                                            Conversions
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <span class="m-menu__link-text">
                                            Report Flows
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <span class="m-menu__link-text">
                                            Audit & Logs
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel m-menu__item--more m-menu__item--icon-only" m-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
            <a href="#" class="m-menu__link m-menu__toggle">
                <span class="m-menu__item-here"></span>
                <i class="m-menu__link-icon flaticon-more-v3"></i>
                <span class="m-menu__link-text"></span>
            </a>
            <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left m-menu__submenu--pull">
                <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                <ul class="m-menu__subnav">
                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                        <a href="inner.html" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-business"></i>
                            <span class="m-menu__link-text">
                                eCommerce
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item  m-menu__item--submenu" m-menu-submenu-toggle="hover" data-redirect="true" aria-haspopup="true">
                        <a href="crud/datatable_v1.html" class="m-menu__link m-menu__toggle">
                            <i class="m-menu__link-icon flaticon-computer"></i>
                            <span class="m-menu__link-text">
                                Audience
                            </span>
                            <i class="m-menu__hor-arrow la la-angle-right"></i>
                            <i class="m-menu__ver-arrow la la-angle-right"></i>
                        </a>
                        <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
                            <span class="m-menu__arrow "></span>
                            <ul class="m-menu__subnav">
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-users"></i>
                                        <span class="m-menu__link-text">
                                            Active Users
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-interface-1"></i>
                                        <span class="m-menu__link-text">
                                            User Explorer
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-lifebuoy"></i>
                                        <span class="m-menu__link-text">
                                            Users Flows
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-graphic-1"></i>
                                        <span class="m-menu__link-text">
                                            Market Segments
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-graphic"></i>
                                        <span class="m-menu__link-text">
                                            User Reports
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                        <a href="inner.html" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-map"></i>
                            <span class="m-menu__link-text">
                                Marketing
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                        <a href="inner.html" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-graphic-2"></i>
                            <span class="m-menu__link-title">
                                <span class="m-menu__link-wrap">
                                    <span class="m-menu__link-text">
                                        Campaigns
                                    </span>
                                    <span class="m-menu__link-badge">
                                        <span class="m-badge m-badge--success">
                                            3
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item  m-menu__item--submenu" m-menu-submenu-toggle="hover" data-redirect="true" aria-haspopup="true">
                        <a href="#" class="m-menu__link m-menu__toggle">
                            <i class="m-menu__link-icon flaticon-infinity"></i>
                            <span class="m-menu__link-text">
                                Cloud Manager
                            </span>
                            <i class="m-menu__hor-arrow la la-angle-right"></i>
                            <i class="m-menu__ver-arrow la la-angle-right"></i>
                        </a>
                        <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                            <span class="m-menu__arrow "></span>
                            <ul class="m-menu__subnav">
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-add"></i>
                                        <span class="m-menu__link-title">
                                            <span class="m-menu__link-wrap">
                                                <span class="m-menu__link-text">
                                                    File Upload
                                                </span>
                                                <span class="m-menu__link-badge">
                                                    <span class="m-badge m-badge--danger">
                                                        3
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-signs-1"></i>
                                        <span class="m-menu__link-text">
                                            File Attributes
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-folder"></i>
                                        <span class="m-menu__link-text">
                                            Folders
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="inner.html" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-cogwheel-2"></i>
                                        <span class="m-menu__link-text">
                                            System Settings
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>




