@model Loony.Data.Entities.Product.ProductGroup

<tr>
    <td class="align-middle">@Model.Order</td>
    <td class="align-middle">@Model.GroupName</td>
    <td class="align-middle">@Model.Description</td>
    <td class="text-right align-middle">
        @if (Convert.ToBoolean(Context.Items["Update"]))
        {
            <a id="@Model.Id" class="btn btn-secondary btn-sm btnEdit"><i class="la la-edit"></i></a>
        }
        @if (Convert.ToBoolean(Context.Items["Delete"]))
        {
            <a id="@Model.Id" class="btn btn-secondary btn-sm btnDelete"><i class="la la-trash"></i></a>
        }
    </td>
</tr>
