@model ListViewModel<Loony.Data.Entities.Product.Article>
        
@{
    var sortDir = Model.Page.SortDirection;
    var sortOrder = Model.Page.Order;
    var filter = Model.Page.Filter;
    var search = Model.Page.Search;
 }

<table class="table m-table m-table--head-separator-primary table-hover dataTable">
    <thead>
        <tr>
            <table-head width="10%" sortby="ArticleCode" sortorder="@sortOrder" sortdir="@sortDir" filter="@filter" search="@search">@await Component.StaticText("ArticleCode")</table-head>
            <table-head width="20%" sortby="ArticleName" sortorder="@sortOrder" sortdir="@sortDir" filter="@filter" search="@search">@await Component.StaticText("ArticleName")</table-head>
            <table-head width="15%" sortby="DesignCode" sortorder="@sortOrder" sortdir="@sortDir" filter="@filter" search="@search">@await Component.StaticText("DesignCode")</table-head>
            <table-head width="15%" sortby="ColorCode" sortorder="@sortOrder" sortdir="@sortDir" filter="@filter" search="@search">@await Component.StaticText("ColorCode")</table-head>
            <table-head width="30%" sortby="Composition" sortorder="@sortOrder" sortdir="@sortDir" filter="@filter" search="@search">@await Component.StaticText("Composition")</table-head>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var article in Model.Data)
        {
        <tr>
            <td class="align-middle">@article.ArticleCode.ToString().PadLeft(4,'0')</td>
            <td class="align-middle">@article.ArticleName</td>
            <td class="align-middle">@article.DesignCode</td>
            <td class="align-middle">@article.ColorCode</td>
            <td class="align-middle">@article.Composition</td>
            <td class="text-right align-middle">
                @if (Convert.ToBoolean(Context.Items["Update"]))
                {
                    <a asp-action="Edit" asp-route-id="@article.Id" class="btn btn-secondary btn-sm"><i class="la la-edit"></i> @await (Component.StaticText("Edit"))</a>
                }
            </td>
        </tr>
        }
    </tbody>
    <tfoot>

    </tfoot>
</table>

<div page-data="@Model.Page"></div>

